.CalendarWidget {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
  width: 450px;
  height: 450px;
  box-sizing: border-box;
  box-shadow: 0 6px 4px 0 #00000025, 0 8px 20px 0 #0000002a;
}

.CalendarWidget>div {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-bottom: 2px solid #DFE1EB;
  color: #273240;
  font-size: 16px;
  align-items: center;
}

#calendar-title {
  color: #0340BE;
  font-size: 24pt;
  font-weight: normal;
  border-bottom: 2px solid #DFE1EB;
}

#calendar-date {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid #DFE1EB;
  box-sizing: border-box;
}

#calendar-time {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  height: 100%;
  border-left: 1px solid #DFE1EB;
  box-sizing: border-box;
}

#calendar-datetime-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#calendar-icons {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.Events ul {
  align-content: start;
}

.Events li p {
  font-size: 15px;
  line-height: 1;
}