.job-board-container {
    display: flex;
    flex-direction: column;
}

.job-board-container h1 {
    margin: 0;
    color: #0340BE;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 400;
}

.job-board-container h2 {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 35px;
    text-align: left;
}

.job-board-container ul {
    margin: 0;
    padding: 0;
}

.job-board-container ul li {
    padding: 31px 28px 35px;
    border-radius: 19px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, .25);
    margin-bottom: 17px;
    display: flex;
    width: 1114px;
    height: 203px;
    box-sizing: border-box;
    justify-content: space-between;

    .left div {
        margin: 0 0 25px 0;
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 16px;
        font-weight: 400;

        img {
            margin: 0 10px 0 0;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        img {
            margin: 0 5px 0 0;
            cursor: pointer;
        }

        #apply-btn {
            background-color: #4EBBC2;
            color: white;
            width: 103px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 500;
            border-radius: 5px;
            border: none;
        }
    }
}

.job-board-container #calendar-icon {
    filter: brightness(0) saturate(100%) invert(74%) sepia(32%) saturate(495%) hue-rotate(150deg) brightness(92%) contrast(91%);
}

.job-board-container .filter-bar {
    margin: 15px 0 35px;
    display: flex;
    justify-content: left;
    align-items: center;

    img {
        margin: 0 35px 0 5px;
    }

    button {
        background-color: white;
        color: black;
        border: 0.5px solid #4EBBC2;
        padding: 0;
        border-radius: 5px;
        width: 103px;
        height: 30px;
        margin: 0 20px 0 0;
        font-size: 12px;
        font-weight: 500;
    }

    button:hover {
        background-color: #4EBBC2;
    }
}

.job-board-container #back-btn {
    cursor: pointer;
}

.job-board-container .comfirm-application-container {
    background-color: #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .prompt {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 19px;
        padding: 10px;
    }

    .prompt-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px 0;
    }

    .prompt-buttons {
        display: flex;

        button {
            margin: 0 10px 0;
            background-color: #C2554E;
            color: white;
            width: 103px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 500;
            border-radius: 5px;
            border: none;
        }

        .apply-btn {
            background-color: #4EBBC2;
        }
    }
}