.location-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'Poppins';
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.location-form-container .image {
    width: 98px;
    margin-bottom: 20px;
}

.location-form-container h3 {
    margin: 0 0 45px 0;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 500;
}

.location-form-container form {
    width: 442px;
}

.location-form-container input {
    width: 140%;
    box-sizing: border-box;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    font-family: 'Nunito';
    margin-bottom: 20px;
    padding: 10px 14px;
    border-radius: 8px;
}
