.my-jobs-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.add-job-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

.jobs-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.job-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.job-item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.job-info h1 {
  text-align: center;
  font-size: 24px; 
  margin: 10px 0;
}

.job-info h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}

.job-info h3 {
  font-weight: bold;
  font-size: 18px; 
  margin: 10px 0;
}

.current-jobs-posted {
  font-size: 30px; 
}

.job-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.job-actions button {
  margin: 0 10px;
} 

.tab {

  margin-right: 25px; 
}