.nextgig h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.nextgig-container {
  color: #0340BE;
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  width: 750px;
  height: fit-content;
  box-shadow: 0 6px 4px 0 #00000025, 0 8px 20px 0 #0000002a;
}

.nextgig-date-time {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-content: center;
}

#nextgig-date {
  font-size: 14pt;
  align-content: center;
  justify-self: start;
}

#nextgig-time {
  font-size: 14pt;
  align-content: center;
  justify-self: end;
}

#nextgig-title {
  font-size: 20pt;
  font-weight: bold;
}

#nextgig-employer {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  font-size: 14pt;
}

#nextgig-employer span {
  padding-right: 30px;
}

#nextgig-employer img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

#nextgig-location {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  font-size: 14pt;
}

#nextgig-location img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.nextgig-type-distance {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

#nextgig-type {
  display: inherit;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-self: start;
  gap: 10px;
  font-size: 14pt;
}

#nextgig-type img {
  height: 20px;
  width: 20px;
}

#nextgig-distance {
  display: inherit;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-self: end;
  gap: 10px;
  font-size: 14pt;
}

#nextgig-distance img {
  height: 20px;
  width: 20px;
}