.password-reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set to 100% of the viewport height */
  }
  
  .password-reset-fields {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden {
    display: none;
  }