.photo-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-form-container h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -2%;
}

.photo-form-container .photo {
    margin: 70px 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    overflow: hidden;

    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

.photo-form-container button {
    margin: 0 0 20px 0;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #82AAFD;
    padding: 10px 15px;
    font-size: 16px;
    width: auto;
    white-space: nowrap;
}

.photo-form-container #last {
    margin: 0 0 200px 0;
}

.photo-form-container button:hover {
    background-color: #022B7F;
    color: white;
}

.photo-form-container .photo-form-camera-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    background-color: #00000033;

    #camera-view {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        overflow: hidden;
        width: auto;
        height: 360px;

        #webcam {
            height: inherit;
            width: auto;
        }

        #no-webcam {
            width: 640px;
            text-align: center;
            text-justify: center;
            font-size: 25px;
        }
    }
}